<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkzxhn.gkprison">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoadingActivity" />
        <activity android:name=".activity.PrisonIntroductionActivity" />
        <activity android:name=".activity.LawsRegulationsActivity" />
        <activity android:name=".activity.VisitingServiceActivity" />
        <activity android:name=".activity.PrisonWardenActivity" />
        <activity android:name=".activity.FamilyServiceActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.PrisonOpenActivity" />
        <activity android:name=".activity.RemittanceRecordActivity" />
        <activity android:name=".activity.ShoppingRecoderActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.SystemMessageActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ApplyResultActivity"/>
        <activity android:name=".activity.VersionUpdateActivity" />
        <activity android:name=".activity.WardenReplyActivity" />
        <activity android:name=".activity.WriteMessageActivity" />
        <activity android:name=".activity.RemittanceWaysActivity"/>
        <activity android:name=".activity.PaymentActivity"/>
        <activity android:name=".activity.BankPayActivity"/>
        <activity android:name=".activity.ZhifubaoPayActivity"/>
        <activity android:name=".activity.WeixinPayActivity" />
    </application>
</manifest>
