<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkzxhn.gkprison">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrisonIntroductionActivity"
            android:label="@string/title_activity_prison_introduction" />
        <activity
            android:name=".activity.LawsRegulationsActivity"
            android:label="@string/title_activity_laws_regulations" />
        <activity
            android:name=".activity.VisitingServiceActivity"
            android:label="@string/title_activity_visiting_service" />
        <activity
            android:name=".activity.PrisonWardenActivity"
            android:label="@string/title_activity_prison_warden" />
        <activity
            android:name=".activity.FamilyServiceActivity"
            android:label="@string/title_activity_family_service" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activity.PrisonOpenActivity" />
        <activity
            android:name=".activity.RemittanceActivity"
            android:label="@string/title_activity_remittance" />
        <activity
            android:name=".activity.ShoppingRecoderActivity"
            android:label="@string/title_activity_shopping_recoder" />
        <activity
            android:name=".activity.AgreementActivity"
            android:label="@string/title_activity_agreement" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.SystemMessageActivity" />
        <activity
            android:name=".activity.ApplyBarcodeActivity"
            android:label="@string/title_activity_apply_barcode" />
        <activity
            android:name=".activity.ApplyResultActivity"
            android:label="@string/title_activity_apply_result" />
        <activity android:name=".activity.VersionUpdateActivity" />
        <activity android:name=".activity.WardenReplyActivity"></activity>
    </application>

</manifest>
